@{
    ViewBag.Title = "Access Denied";
}
<div class="alert alert-danger mt-2">
    <h1>ViewBag.Title</h1>
    <hr />
    <h5>You do not have permission to see this resource</h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger" style="width:auto">
    Click here to navigate home page
</a>

