@model RegisterViewsModel

@{
    ViewBag.Title = "Register Views Model";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Register
                </span>
            </div>

            <form class="login100-form validate-form" asp-controller="Account" asp-action="Register" method="post">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" asp-for="Email" name="Email" placeholder="Enter Email">
                    <span class="focus-input100" asp-validation-for="Email"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" asp-for="Password" name="Password" placeholder="Enter password">
                    <span class="focus-input100 text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Cofirm</span>
                    <input class="input100" type="password" asp-for="CofirmPassword" name="CofirmPassword" placeholder="Enter password">
                    <span class="focus-input100 text-danger" asp-validation-for="CofirmPassword"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    @*<div class="contact100-form-checkbox">
                            <input class="input-checkbox100" asp-for="Remember" type="checkbox" name="remember-me">
                            <label class="label-checkbox100">
                                Remember me
                            </label>
                        </div>*@

                    <div>
                        <a asp-controller="Account" asp-action="Login" class="txt1">
                            Forgot Login?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>