@model RoleCreateViewsModel

@{
    ViewBag.Title = "Role Create";
}

<form asp-controller="Role" asp-action="Create" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group row">
        <div class="col-sm-12">
            <label class="ml-3 mx-3  text-white" asp-for="RoleName"></label>
            <input asp-for="RoleName" />
            @*<span asp-validation-for="RoleName" class="text-danger"></span>*@
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-info ">CreateRole<i class="fas fa-heart ml-2" aria-hidden="true"></i></button>
            <a class="btn btn-success" asp-controller="Role" asp-action="Index">Back</a>
        </div>
    </div>

</form>