<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/login/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <link href="~/login/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/login/vendor/css-hamburgers/hamburgers.css" rel="stylesheet" />
    <link href="~/login/vendor/animsition/css/animsition.css" rel="stylesheet" />
    <link href="~/login/vendor/select2/select2.css" rel="stylesheet" />
    <link href="~/login/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/login/css/util.css" rel="stylesheet" />
    <link href="~/login/css/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/login/vendor/animsition/js/animsition.js"></script>
    <script src="~/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/login/vendor/select2/select2.js"></script>
    <script src="~/login/vendor/daterangepicker/moment.js"></script>
    <script src="~/login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/login/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/login/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

